.body{
    margin: 0;
    padding: 100px;
    background: #e1cf65;
    font-family: "Raleway",sans-serif;}

    .foto{
        border: 1px rgb(195, 51, 51); 
        margin-right: 0%;
        margin-left: 500px;
        margin-top: 0%;
   
        
    }
